.footer {

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #03A696;

}

.atalhosFooter {

    /*procurar e baixar fontes no Google Fontes dps*/
    font-family: ; 
    font-size: 35px;
    color: #262626;

}